
<head>
  <title>Class Board</title>
  <script src="moment.min.js" type="text/javascript"/>
</head>

<body>
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Class Board</a>
        <ul class="nav pull-right">
          <li>
            {{loginButtons}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">{{renderPage}}</div>
</body>

<template name="404">
  404- Not Found
</template>
<template name="home">
  <h1>Class Board</h1>
  {{#unless currentUser}}{{> sign_in_box}}{{/unless}}
  {{> addClassroom}}
  {{> listClassrooms}}
  {{> helpForm}}
  {{> requests}}
</template>

<template name="sign_in_box">
  <div class="well"><h4>Sign in with github to use Class Board</h4>{{loginButtons}}</div>
</template>

<template name="requests">
    <h2>Waiting list</h2>
    {{#each items}}
        {{> request}}
     {{/each}}
    <h2>Solved</h2>
    {{#each solved_items}}
        {{> request}}
     {{/each}}
</template>
 
<template name="request">
    <div>
        <p class="lead">
            {{date submittedOn}}
            {{requestText}}
            {{description}}
            {{solutionText}}
            Name:{{username}}
        </p>
        {{#unless solved}}
          {{#if owner submittedBy}}
            <input type="text" id="solutionText" placeholder="Enter problem solution">
            <button class="solve" data-id="{{_id}}">Solved</button>
          {{/if}}
        {{/unless}}
    </div>
</template>


<template name="helpForm">
  <form>
    <input type="text" id="requestText" placeholder="What's the problem?..."{{#unless currentUser}}disabled{{/unless}}>
    <input type="text" id="description" placeholder="Enter problem description"{{#unless currentUser}}disabled{{/unless}}>
    <input type="submit" class="add-request" value='Ask for help'{{#unless currentUser}}disabled{{/unless}}>
  </form>
</template>

<template name="addClassroom">
  <form>
    <input type="text" id="className" placeholder="Class name"{{#unless currentUser}}disabled{{/unless}}>
    <input type="submit" class="add-classroom" value='Add Classroom'{{#unless currentUser}}disabled{{/unless}}>
  </form>
</template>

<template name="listClassrooms">
  {{#each classrooms}}
        {{> classroomLink}}
     {{/each}}
</template>

<template name="classroomLink">
  <a href="/classroom/{{_id}}">{{name}}</a>
</template>